* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: #f3f5fc;
}

.texto {
  position: absolute;
  width: 42%;
  height: 60%;
  left: 12%;
  top: 15%;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  background-color: #f3f5fc;
}

.texto-2 {
  position:absolute;
  width: 77%;
  height: 80%;
  left: 12%;
  top: 15%;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  background-color: #ffffff;
}

.texto, .texto-2::placeholder {
  color: #644cb3;
}

.texto:focus,
.texto:active, .texto-2:focus,
.texto-2:active {
  border: none;
  outline: none;
}

.terminos {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 80%;
  left: 12%;
  top: 80%;
}

.terminos p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.botones {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1% 0;
  position: absolute;
  width: 80%;
  left: 12%;
  top: 82%;
}

.boton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1% 0;
  position: absolute;
  width: 30%;
  left: 35%;
  top: 85%;
}

.btn-copiar {
  align-items: center;
  justify-content: center;
  padding: 10%;
  gap: 8px;
  width: 140%;
  background-color: #644cb3;
  border-radius: 20px;
  font-family: "Inter";
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #fff;
}

.btn-copiar:hover {
  margin: 0.5%;
  width: 135%;
  padding: 10%;
}

.btn-encriptar {
  align-items: center;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 25%;
  background-color: #644cb3;
  border-radius: 24px;
  font-family: "Inter";
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #fff;
}

.btn-desencriptar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 25%;
  background: #d8dfe8;
  border: 1px solid #644cb3;
  border-radius: 24px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #644cb3;
}

.btn-desencriptar:hover,
.btn-encriptar:hover {
  margin: 0.3%;
  width: 24.5%;
  padding: 1.8%;
}

.encriptado {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 90%;
  left: 60%;
  top: 5%;
  background: #fff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.mensaje-encriptado {
  display:block;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1%;
  gap: 16px;
  position: absolute;
  width: 100%;
  height: 5%;
  top: 93%;
  text-align: center;
}

.footer {
  background: #644cb3;
  color: #000000;
  text-align: center;
}

.img {
  width: 15px; 
  height: 15px; 
  border-radius: 50%; 
}

@media (max-width: 57.5em) {
  .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-bottom: 10px;
  }
  .encriptar {
      width: 100%;
  }
  .texto, .texto-2 {
      width: 80%;
      height: 80%;
      left: 10%;
      top: 5%;
  }

  .terminos {
      width: 80%;
      left: 10%;
      top: 67%;
  }
  .terminos p {
      font-size: 16px;
  }
  .botones {
      width: 80%;
      left: 10%;
      top: 70%;
  }
  .boton {
      width: 20%;
      left: 39%;
      top: 80%;
  }

  .btn-encriptar,
  .btn-desencriptar {
      width: 48%;
      border-radius: 16px;
  }
  .btn-encriptar:hover,
  .btn-desencriptar:hover {
      margin: 0.3%;
      width: 47.5%;
      padding: 1.8%;
  }
  .encriptado {
      width: 80%;
      height: 80%;
      left: 10%;
      top: 80%;
  }
  .mensaje-encriptado {
      width: 100%;
      height: 5%;
  }
  .footer {
    position:relative;
    margin-top: 600px;
  }
}
